.buttonNav{
    width: auto;
    margin: 0 20px;
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    line-height: 1.3rem;
    transition: ease-in-out;
}

.buttonNav:hover{
    border-bottom: 1px solid #fff;
    /* box-shadow: 1px 1px 10px 10px #fff; */
}