.content-logoTool{
    padding: 0.5rem;
    width: 130px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.name-of-logo{
    font-size: 1rem;
    font-weight: 600;
    color: #ddd;
}

.logoTools{
    margin-top: 1rem;
    width: auto;
    height: 70%;
}

@media (max-width: 1023px) {
    
    .content-logoTool{
        width: 70px;
        height: 70px;
        justify-content: center;
      }

      .title-tools{
        width: 80%;
      }

      .name-of-logo{
        font-size: .7rem
      }

}