.content-logoTool{
    padding: 0.5rem;
    width: 130px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.name-of-logo{
    font-size: 1rem;
    font-weight: 600;
    color: #ddd;
}

.logoTools{
    margin-top: 1rem;
    width: auto;
    height: 70%;
}